#navbar-alternate {
    display: none;
  }
.navbar{
    background-color: #3731a5;
    color: #ccc;

    width: 30%;
    position: relative;
    display: flex;

    align-items: center;
    left: 35%;
    right: 35%;
    top: 10%;
    margin-top: 10px;
    align-items: center;
    height: 8%;
}

  @media (max-width: 1200px) {
    #navbar-alternate { display: flex; }
    #navbar { display:none; }
  }

  .navbarlist{
    list-style-type: none;
    position: relative;
    left: 20%;
    right: 20%;
    display: flex;
    padding: 0;
    margin: 0;
    
}
  .navbaritem{
    list-style-type: none;
    position: relative;
    border: 1px solid #ccc;
    color: #ccc;
    text-decoration: none;
    float:left;
    display: flex;
    padding: 8%;
    margin: 5%;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;


}