.sampleproject{
    padding: auto;
    background-color: #393E46;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    position: relative;
    min-width: 20%;
    max-width: 80%;
    width: 40em;
    margin-bottom: 2.5%;
    margin-left: 2.5%;

    height: 50%;
    float: left;
    display: flex;
    animation-name: slide;
    animation-duration: 1.5s;
    z-index: .9;
    
    max-height: 20em;
}



.sampleproject:hover{
    z-index: .8;
    background-color: #00ADB5;
    transform: scale3d(1.05, 1.05, 1.05);
    
}


.samplecontent{
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    float: left;
    width: 100%;
    
}

.projectimage{
    position: relative;
    border: 1px solid #ccc;
    width: auto;
    max-height: 20vh;
    margin-top: 15%;
    margin-left: 5%;
    align-items: center;

}

.proyectos{
    position: relative;
    top: 2.5em;
}

.projecttable{
    position: relative;
    float: left;
    width: 90vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #222831;
    color: #EEEEEE;
    font-weight: 600;
    max-height: 15vh;
    left: 2.5vh;
    right: 5%;
    top: 2.5em;

    margin-bottom: 4em;
}
.trow{
    border: 1px solid #ccc;
    display: block;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: ccc;
}

.trow :hover{
    transform: scale3d(1.05, 1.05, 1.05);
    background-color: #00ADB5;
    color: #EEEEEE;}

.col1{
    width: 20vw;
    margin: 0;
    padding: 0;
    color: ccc;
}

.col2{
    width: 20vw;
    margin: 0;
    padding: 0;
}

.col2{
    width: 40vw;
    margin: 0;
    padding: 0;
    color: white;
}

.tabledata{
    background-color: #393E46;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes slide {
    0%{transform: translatex(-100%);}
  }

  @media screen and (max-width: 900px){
    .sampleproject{
        padding: auto;
        background-color: #393E46;
        border: 1px solid #EEEEEE;
        color: #EEEEEE;
        position: relative;
        left: 5vw;
        max-width: 90vw;
        width: 40em;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
    
        height: 50%;
        float: left;
        display: flex;
        animation-name: slide;
        animation-duration: 1s;
        z-index: .9;
        
        max-height: 25vh;
    }

    .samplecontent{
        position: relative;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        overflow-y: scroll;
        float: left;
        width: 100%;
        font-size: .75em;
        
    }

    
    
  }