.sampleproject{
    padding: auto;
    background-color: #393E46;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    position: relative;
    min-width: 20%;
    max-width: 80%;
    width: 40em;
    margin-bottom: 2.5%;
    margin-left: 2.5%;

    height: 50%;
    float: left;
    display: flex;
    animation-name: slide;
    animation-duration: 1s;
    z-index: .9;
    
    max-height: 20em;
}



.sampleproject:hover{
    z-index: .8;
    background-color: #00ADB5;
    transform: scale3d(1.05, 1.05, 1.05);
    
}


.samplecontent{
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    float: left;
    width: 100%;
    
}

.projectimage{
    position: relative;
    border: 1px solid #ccc;
    width: auto;
    max-height: 20vh;
    margin-top: 15%;
    margin-left: 5%;
    align-items: center;

}



@keyframes slide {
    from{margin-left:-100%;}
    to{margin-left: 0%;}
    
  }

  @media screen and (max-width: 900px){
    .sampleproject{
        padding: auto;
        background-color: #393E46;
        border: 1px solid #EEEEEE;
        color: #EEEEEE;
        position: relative;
        left: 5vw;
        max-width: 90vw;
        width: 40em;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
    
        height: 50%;
        float: left;
        display: flex;
        animation-name: slide;
        animation-duration: 1s;
        z-index: .9;
        
        max-height: 25vh;
    }

    .samplecontent{
        position: relative;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        overflow-y: scroll;
        float: left;
        width: 100%;
        font-size: .75em;
        
    }

  }